<div class="round">
<div id="heading"> 
  Round Summary
</div>
<div id = "summary">
  <%= @round.deck.deck_type %>  <br>
  You got <%= @round.guesses.where("correct = ?", true).count %> correct out of <%=@round.deck.cards.count%> questions. 
</div>
  <table class = "guess_table">
    <tr>
      <th>Question</th>
      <th>Your Guess</th>
      <th>Answer</th>
      <th>Correct?</th>
    </tr>
    <%@round.guesses.each do |guess| %>
    <tr>
      <td><%=guess.card.front%></td>
      <td><%=guess.input %></td>
      <td><%=guess.card.back %></td>
      <td><%=guess.correct%></td>
    </tr>
    <%end%>
  </table>
</div>
