<h1> Game: <%= @deck.deck_type %> </h1>
<h2>Front of Card: <%= @card.front %></h2>

<%if @guess%>
  <%if @guess.correct%>
    Correct!
  <%else%>
    Bummer :( You'll get it next time!
  <%end%>
    The answer is...
    <%=@card.back%>
  <%if @last %>
    <form action="../rounds/<%=@round.id%>" method = "get">
    <input type="submit" value="Finish Round">
    </form>
  <%else%>
    <form action="/cards/<%=@next_card%>" method = "get">
    <input type="submit" value="Next Card">
    </form>
  <%end%>        
<%else%>
  <form action="/cards/<%=@card.id%>" method = "post">
  What's your guess? 
  <input type="text" name="guess">
  <input type="submit" value="Guess!">
  </form>  
<%end%>
